<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trips by Wheels. Car Rental System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Website icon-->
    <link href="data:image/x-icon;base64,
    AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAA
    AAEAAAAAAAAAAAAAAA/4QAAAD/3QAfHRsA/xEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADMwAAAzMAAEMjRERDI0
    QEQzNBEUMzQUQURBERFEQRQERERERERERAAABCIkAAAAAAAAREQAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AADHxwAAgAEAAAAAAAAAAAAAgA
    AAAPg/AAD8PwAA//8AAP//AAD//wAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
</head>
<body>
    <div class="container"></div>
        <h1>Trips by Wheels. Rent a Car</h1>
        <hr>
            <h2> Save Client </h2>

            <form action ="#" th:action="@{/saveUserGuest}" th:object = "${newUser}" method = "POST">
                <input type="text" th:field = "*{firstName}"
                       placeholder= "First Name" class = "form-control mb-4 col-4">
                <input type="text" th:field = "*{lastName}"
                       placeholder= "Last Name" class = "form-control mb-4 col-4">
                <input type="text" th:field = "*{age}"
                       placeholder= "Age" class = "form-control mb-4 col-4">
                <input type="text" th:field = "*{residence}"
                       placeholder= "Residence" class = "form-control mb-4 col-4">
                <input type="text" th:field = "*{phoneNumber}"
                       placeholder= "Phone Number" class = "form-control mb-4 col-4">
                <input type="text" th:field = "*{eMail}"
                       placeholder= "Email" class = "form-control mb-4 col-4">

                <button type="submit" class="btn btn-info col-2"> Select a car </button>
            </form>

    <!-- FOOTER -->
    <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

        <div class="container">
            <p>Copyright Trips by Wheels &copy; - 2021</p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </footer>


</body>
</html>